body{
    background-color: #2a929277;
    font-family: sans-serif;
}
.Login-box{
    width: 360px;
    height: 400px;
    margin: auto;
    background-color: green;
    border-radius: 40px;
    justify-content: center;
}
h1{
    text-align: center;
    padding-top: 15px;

}
form{
    width: 300px;
    margin-left: 20px;

}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(175,80,80);
    border-radius: 6px;
    text-align: center;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    background-color: #d2462d;
    color: white;
    font-size: 18px;

}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px
}
.Already{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;

}
